body{
    background-color: rgba(246, 207, 213, 0.745);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: black;
    font-style: bold;
}

p{
    font-size: 150%;
}

.brand{
    margin-top: 0;

}
.nav_style{
        margin-top: 2%;
        font-size: 200%;
        
}

.side_bar{
    display: flex;
    flex-direction: column;
}
.bar{
    background-color: #b30000;
    color: white;
    text-align: center;
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    border-radius: 10pt;
    width: 100pt;
    height: auto;
}

.container{
    display: flex;
    margin-left: -50pt;
}

.flex_parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.testimonial{
    background-color: aliceblue;
    border-radius: 5px;
    margin: auto;
    padding: 2%;
    font-size: 200%;
    border: dashed #000;
}

/*.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}*/

h1{
    font-size: 40pt;
}

footer{
    background-color: #999999;
    width: fit-content;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    color: black;
}